<div class="container-fluid footer">
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <a href=""><p>Tours en Panamá</p></a>
                        <a href=""><p>Tours en Ciudad de Panamá</p></a>
                        <a href=""><p>Tours en San Blas</p></a>
                        <a href=""><p>Tours en Bocas del Toro</p></a>
                        <a href=""><p>Tours en Boquete</p></a>
                        <a href=""><p>Tours en Pedasí</p></a>
                        <a href=""><p>Tours en Bogotá</p></a>
                        <a href=""><p>Tours en Medellín</p></a>
                    </div>
                    <div class="col-lg-4 ">
                        <p>Acerca de Triptable</p>
                        <p>Cómo funciona</p>
                        <p>Regístrate cómo Guía</p>
                        <p>Regístrate cómo Tour Operador</p>
                        <p>Paquetes para agencia de viajes</p>
                        <p>Programa de Afiliados</p>
                    </div>
                    <div class="col-lg-4">
                        <p>Newsletter and logos</p>
                    </div>
                </div>
            <!-- /.row -->
            </div>
        </footer>

        </div>