<div class="container">
  <div class="row">
  
  <div class="col-md-12" style="text-align:center;">
      <div class="ui pagination menu">
          <a class="item">
            <i class="arrow left icon"></i>
          </a>
          <a class="active item">
            1
          </a>
          <div class="disabled item">
            ...
          </div>
          <a class="item">
            10
          </a>
          <a class="item">
            11
          </a>
          <a class="item">
            12
          </a>
          <a class="item">
             <i class="arrow right icon"></i>
          </a>
        </div>
    </div>
  </div>
</div>


