<section id="c2a" class="no-padding">
<div class="container-fluid">
<div class="row">
<div class="callout">
    <div class="text-vertical-center">
      <h1 class="text-white">Conviertete en Guía de Triptable</h1>
        <div class="col-md-4 col-md-offset-4 text-center">
     		 <p><a class="btn btn-danger c2a-btn" href="#">Listar mis tours</a></p>    
    	</div>
    </div>
</div>
</div>
</div>    
</section>