<section id="how-it-works">
	<div class="container">
		<div class="row">
		    <div class="col-lg-12 text-center">
		        <h1>Mira Cómo Funciona</h1>
		        <p class="lead">Discover how Listable can you help you find everything you want..</p>
		    </div>
		    <div class="col-md-4 text-center feature">
		    	{{>svg/discover}}
		    	<div class="col-md-12 card">
		    		<h3 class="title">Explore Amazing Places</h3>
		    		<p class="subtitle">Go and have a good time or even make a booking directly from the listing page. All of those, thanks to Listable! </p>
		    	</div>
		    </div>
		    <div class="col-md-4 text-center feature">
		    	{{>svg/mobile}}
		    	<div class="col-md-12 card">
		    		<h3 class="title">Explore Amazing Places</h3>
		    		<p class="subtitle">Go and have a good time or even make a booking directly from the listing page. All of those, thanks to Listable! </p>
		    	</div>
		    </div>
		    <div class="col-md-4 text-center feature">
		    	{{>svg/place}}
		    	<div class="col-md-12 card">
		    		<h3 class="title">Explore Amazing Places</h3>
		    		<p class="subtitle">Go and have a good time or even make a booking directly from the listing page. All of those, thanks to Listable! </p>
		    	</div>
		    </div>
		</div>
	</div>
</section>