<section id="tours" class="inverse">
	<div class="container">
		<div class="row">
		    <div class="col-lg-12 text-center">
		      <h1>TOP DESTINATIONS</h1>
		      <p class="lead">Discover tours, attractions and activities for your next adventure

.</p>
		    </div>
		</div>    
	</div>
</section>    