<section id="tours">
<div class="container">
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
            <div class="tour-image" style="height: 230px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,q_auto/v1490997532/jgbmzgp0xfwbw6znmbrv.jpg'); background-position: 50%; background-size: cover;">
            </div>
            <div class="caption">
                <div class="row">
                    <h4 class="price col-sm-2 pull-right">$205</h4>
                    <h4 class="name col-sm-10">Tour a la Casa Azul de Frida Kahlo y al Museo Diego Rivera
                    </h4>
                </div>
                <div class="row">
                    <p class="col-sm-12 place">Lugar: San Blas, Panamá. - Duración: 3 Dias</p>
                </div>
            </div>
            <div class="ratings row">
               
                <p class="col-xs-7">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    (15 Reviews)
                </p>
                 <p class="col-xs-5">1 - 12 Personas.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
            <div class="tour-image" style="height: 230px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto/v1490823512/dqoqzn4dmcf1xe0fanle.jpg'); background-position: 50%; background-size: cover;">
            </div>
            <div class="caption">
                <div class="row">
                    <h4 class="price col-sm-2 pull-right">$205</h4>
                    <h4 class="col-sm-10">Aqua Bus City tour
                    </h4>
                </div>
                <div class="row">
                    <p class="col-sm-12 place">Lugar: San Blas, Panamá. - Duración: 3 Dias</p>
                </div>
            </div>
            <div class="ratings row">
               
                <p class="col-xs-7">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    (15 Reviews)
                </p>
                 <p class="col-xs-5">1 - 12 Personas.</p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
            <div class="tour-image" style="height: 230px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://res.cloudinary.com/triptable/image/upload/v1491417197/axk6qjiduw1ewgkd0vy8.jpg'); background-position: 50%; background-size: cover;">
            </div>
            <div class="caption">
                <div class="row">
                    <h4 class="price col-sm-2 pull-right">$205</h4>
                    <h4 class="col-sm-10">Tour a la Casa Azul de Frida Kahlo y al Museo Diego Rivera
                    </h4>
                </div>
                <div class="row">
                    <p class="col-sm-12 place">Lugar: San Blas, Panamá. - Duración: 3 Dias</p>
                </div>
            </div>
            <div class="ratings row">
               
                <p class="col-xs-7">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    (15 Reviews)
                </p>
                 <p class="col-xs-5">1 - 12 Personas.</p>
            </div>
        </div>
    </div>
</div>
</div>
</section>