<section id="tours" class="inverse">
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Tours más reservados</h1>
        <p class="lead">Explore some of the best tips from around the city from our partners and friends.</p>
    </div>
  </div>
  <div class="row tour-slide">
    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
            <div class="tour-image" style="height: 230px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,q_auto/v1490997532/jgbmzgp0xfwbw6znmbrv.jpg'); background-position: 50%; background-size: cover;"></div>
            <div class="caption">
                <div class="row">
                    <h4 class="price col-sm-2 pull-right">$205</h4>
                    <h4 class="name col-sm-10 tour-name"  id="tour-name">Pasadia a las Islas de San Blas
                    </h4>
                </div>
                <div class="row" >
                    <p class="col-xs-12 tour-description"  id="tour-description">                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis quam mi. Etiam arcu arcu, vulputate nec arcu sit amet, egestas suscipit magna. 
                    </p>
                </div>
                <div class="row">
                     <p class="col-xs-8 place"><i class="icon ion-location"></i> San Blas, Panamá.</p>
                     <p class="col-xs-4 place pull-right"> <i class="icon ion-clock pull-right"> 3 Dias</i> </p>
                     <p class="col-xs-6 place">  <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 2 - 12 Viajeros</i> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
            <div class="tour-image" style="height: 230px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,q_auto/v1490997532/jgbmzgp0xfwbw6znmbrv.jpg'); background-position: 50%; background-size: cover;"></div>
            <div class="caption">
                <div class="row">
                    <h4 class="price col-sm-2 pull-right">$205</h4>
                    <h4 class="name col-sm-10 tour-name"  id="tour-name">Tour a la Casa Azul de Frida Kahlo y al Museo Diego Rivera
                    </h4>
                </div>
                <div class="row" >
                    <p class="col-xs-12 tour-description"  id="tour-description">                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis quam mi. Etiam arcu arcu, vulputate nec arcu sit amet, egestas suscipit magna. 
                    </p>
                </div>
                <div class="row">
                     <p class="col-xs-8 place"><i class="icon ion-location"></i> San Blas, Panamá.</p>
                     <p class="col-xs-4 place pull-right"> <i class="icon ion-clock pull-right"> 3 Dias</i> </p>
                     <p class="col-xs-6 place">  <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 2 - 12 Viajeros</i> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
            <div class="tour-image" style="height: 230px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,q_auto/v1490997532/jgbmzgp0xfwbw6znmbrv.jpg'); background-position: 50%; background-size: cover;"></div>
            <div class="caption">
                <div class="row">
                    <h4 class="price col-sm-2 pull-right">$205</h4>
                    <h4 class="name col-sm-10 tour-name"  id="tour-name">Tour a la Casa Azul de Frida Kahlo y al Museo Diego Rivera
                    </h4>
                </div>
                <div class="row" >
                    <p class="col-xs-12 tour-description"  id="tour-description">                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis quam mi. Etiam arcu arcu, vulputate nec arcu sit amet, egestas suscipit magna. 
                    </p>
                </div>
                <div class="row">
                     <p class="col-xs-8 place"><i class="icon ion-location"></i> San Blas, Panamá.</p>
                     <p class="col-xs-4 place pull-right"> <i class="icon ion-clock pull-right"> 3 Dias</i> </p>
                     <p class="col-xs-6 place">  <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 2 - 12 Viajeros</i> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
            <div class="tour-image" style="height: 230px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,q_auto/v1490997532/jgbmzgp0xfwbw6znmbrv.jpg'); background-position: 50%; background-size: cover;"></div>
            <div class="caption">
                <div class="row">
                    <h4 class="price col-sm-2 pull-right">$205</h4>
                    <h4 class="name col-sm-10 tour-name"  id="tour-name">Tour a la Casa Azul de Frida Kahlo y al Museo Diego Rivera
                    </h4>
                </div>
                <div class="row" >
                    <p class="col-xs-12 tour-description"  id="tour-description">                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis quam mi. Etiam arcu arcu, vulputate nec arcu sit amet, egestas suscipit magna. 
                    </p>
                </div>
                <div class="row">
                     <p class="col-xs-8 place"><i class="icon ion-location"></i> San Blas, Panamá.</p>
                     <p class="col-xs-4 place pull-right"> <i class="icon ion-clock pull-right"> 3 Dias</i> </p>
                     <p class="col-xs-6 place">  <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 2 - 12 Viajeros</i> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row"> 
  <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <p><a class="btn btn-success view-all-btn" href="#">Ver Todos los Tours</a></p>    
    </div>
  <div class="col-md-4"></div>
</div>  

</div> <!-- end container -->
</section>

  <script type="text/javascript">
    $(document).ready(function(){
        var list = document.getElementsByClassName("tour-name");

        for (var i=0; i<list.length; i++) {
            var tourName = document.getElementsByClassName("tour-name")[i];
            var tourDesc = document.getElementsByClassName("tour-description")[i];
            $clamp(tourName, {clamp: '2'});
            $clamp(tourDesc, {clamp: '2'});
        }
        
         $('.tour-slide').slick({
            dots: true,
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 2,
          arrows:false,
          autoplay: false,
            autoplaySpeed: 3000,
          responsive: [
    {
      breakpoint: 1280,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 640,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
        });

    });

     
  </script>


