<section id="tours">
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 style="font-weight:600;">Tours Recomendados</h1>
        <p class="lead">Seleccionados cuidadosamente por nuestro equipo.</p>
    </div>
  </div>
  <div class="row">
    <div class="tour-slide">
    
      <div class="col-sm-6 col-md-6 col-lg-3 tour-list">
      
          <div class="thumbnail">
              <div class="tour-image" style="height: 175px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('http://sanblastour.com/wp-content/uploads/2015/11/snorkeling_woman_in_san_blas.jpg'); background-position: 50%; background-size: cover;">
                  <!--<div class="price-tag"><span>$35</span></div> -->
                  <div class="rate-tag"><span>30% OFF</span></div>
              </div>
              <a href="#">
              <div class="caption">
                  <div class="row" style="padding-top: 5px;">
                      <p class="col-xs-7 tour-description"  id="tour-description">                    
                      Walking Tours</p>
                      <div class="col-xs-5 rating" style="padding: 5px 10px;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </div>
                  <div class="row">
                      <h4 class="name col-xs-12 tour-name"  id="tour-name">Tour de 2 dias / 1 noche en cabañas sobre el mar en</h4>
                  </div>
                  <div class="row">
                      <div class="col-xs-9" style="padding: 0px;">
                          <p class="col-xs-12 place"><i class="icon ion-location"></i> Medellín, Colombia.</p>
                          <p class="col-xs-12 place" style="padding-top:5px;"> <i class="icon ion-clock"></i> 4 Horas </p>
                       </div>
                       <div class="col-xs-3" style="padding: 0px;">
                             <p class="col-xs-12 place text-right">desde</p> 
                              <p class="col-xs-12 place text-right price"> $50 </p>
                       </div>
                       <!--<p class="col-xs-6 place">
                          <span><b></b><i class="icon ion-fireball"></i> 3 Reservas</span>
                      </p>
                      <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 4 Viajeros</i> </p> -->
                  </div>
              </div>
               </a>
          </div>
      </div>

       <div class="col-sm-6 col-md-6 col-lg-3 tour-list">
          <div class="thumbnail">
              <div class="tour-image" style="height: 175px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://medellin.travel/MedellinTravelWeb/media/1320/agencia-Graffitour-Casa-Kolacho-medellin-travel%20(3).jpg'); background-position: 50%; background-size: cover;">
                  <!--<div class="price-tag"><span>$35</span></div> -->
                  <div class="rate-tag"><span>30% OFF</span></div>
              </div>
              <a href="#">
              <div class="caption">
                  <div class="row" style="padding-top: 5px;">
                      <p class="col-xs-7 tour-description"  id="tour-description">                    
                      Walking Tours</p>
                      <div class="col-xs-5 rating" style="padding: 5px 10px;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </div>
                  <div class="row">
                      <h4 class="name col-xs-12 tour-name"  id="tour-name">Tour de 2 dias / 1 noche en cabañas sobre el mar en</h4>
                  </div>
                  <div class="row">
                      <div class="col-xs-9" style="padding: 0px;">
                          <p class="col-xs-12 place"><i class="icon ion-location"></i> Medellín, Colombia.</p>
                          <p class="col-xs-12 place" style="padding-top:5px;"> <i class="icon ion-clock"></i> 4 Horas </p>
                       </div>
                       <div class="col-xs-3" style="padding: 0px;">
                             <p class="col-xs-12 place text-right">desde</p> 
                              <p class="col-xs-12 place text-right price"> $50 </p>
                       </div>
                       <!--<p class="col-xs-6 place">
                          <span><b></b><i class="icon ion-fireball"></i> 3 Reservas</span>
                      </p>
                      <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 4 Viajeros</i> </p> -->
                  </div>
              </div>
              </a>
          </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 tour-list">
      
          <div class="thumbnail">
              <div class="tour-image" style="height: 175px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('http://sanblastour.com/wp-content/uploads/2015/11/snorkeling_woman_in_san_blas.jpg'); background-position: 50%; background-size: cover;">
                  <!--<div class="price-tag"><span>$35</span></div> -->
                  <div class="rate-tag"><span>30% OFF</span></div>
              </div>
              <a href="#">
              <div class="caption">
                  <div class="row" style="padding-top: 5px;">
                      <p class="col-xs-7 tour-description"  id="tour-description">                    
                      Walking Tours</p>
                      <div class="col-xs-5 rating" style="padding: 5px 10px;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </div>
                  <div class="row">
                      <h4 class="name col-xs-12 tour-name"  id="tour-name">Tour de 2 dias / 1 noche en cabañas sobre el mar en</h4>
                  </div>
                  <div class="row">
                      <div class="col-xs-9" style="padding: 0px;">
                          <p class="col-xs-12 place"><i class="icon ion-location"></i> Medellín, Colombia.</p>
                          <p class="col-xs-12 place" style="padding-top:5px;"> <i class="icon ion-clock"></i> 4 Horas </p>
                       </div>
                       <div class="col-xs-3" style="padding: 0px;">
                             <p class="col-xs-12 place text-right">desde</p> 
                              <p class="col-xs-12 place text-right price"> $50 </p>
                       </div>
                       <!--<p class="col-xs-6 place">
                          <span><b></b><i class="icon ion-fireball"></i> 3 Reservas</span>
                      </p>
                      <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 4 Viajeros</i> </p> -->
                  </div>
              </div>
               </a>
          </div>
      </div>

       <div class="col-sm-6 col-md-6 col-lg-3 tour-list">
          <div class="thumbnail">
              <div class="tour-image" style="height: 175px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://medellin.travel/MedellinTravelWeb/media/1320/agencia-Graffitour-Casa-Kolacho-medellin-travel%20(3).jpg'); background-position: 50%; background-size: cover;">
                  <!--<div class="price-tag"><span>$35</span></div> -->
                  <div class="rate-tag"><span>30% OFF</span></div>
              </div>
              <a href="#">
              <div class="caption">
                  <div class="row" style="padding-top: 5px;">
                      <p class="col-xs-7 tour-description"  id="tour-description">                    
                      Walking Tours</p>
                      <div class="col-xs-5 rating" style="padding: 5px 10px;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </div>
                  <div class="row">
                      <h4 class="name col-xs-12 tour-name"  id="tour-name">Tour de 2 dias / 1 noche en cabañas sobre el mar en</h4>
                  </div>
                  <div class="row">
                      <div class="col-xs-9" style="padding: 0px;">
                          <p class="col-xs-12 place"><i class="icon ion-location"></i> Medellín, Colombia.</p>
                          <p class="col-xs-12 place" style="padding-top:5px;"> <i class="icon ion-clock"></i> 4 Horas </p>
                       </div>
                       <div class="col-xs-3" style="padding: 0px;">
                             <p class="col-xs-12 place text-right">desde</p> 
                              <p class="col-xs-12 place text-right price"> $50 </p>
                       </div>
                       <!--<p class="col-xs-6 place">
                          <span><b></b><i class="icon ion-fireball"></i> 3 Reservas</span>
                      </p>
                      <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 4 Viajeros</i> </p> -->
                  </div>
              </div>
              </a>
          </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 tour-list">
      
          <div class="thumbnail">
              <div class="tour-image" style="height: 175px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('http://sanblastour.com/wp-content/uploads/2015/11/snorkeling_woman_in_san_blas.jpg'); background-position: 50%; background-size: cover;">
                  <!--<div class="price-tag"><span>$35</span></div> -->
                  <div class="rate-tag"><span>30% OFF</span></div>
              </div>
              <a href="#">
              <div class="caption">
                  <div class="row" style="padding-top: 5px;">
                      <p class="col-xs-7 tour-description"  id="tour-description">                    
                      Walking Tours</p>
                      <div class="col-xs-5 rating" style="padding: 5px 10px;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </div>
                  <div class="row">
                      <h4 class="name col-xs-12 tour-name"  id="tour-name">Tour de 2 dias / 1 noche en cabañas sobre el mar en</h4>
                  </div>
                  <div class="row">
                      <div class="col-xs-9" style="padding: 0px;">
                          <p class="col-xs-12 place"><i class="icon ion-location"></i> Medellín, Colombia.</p>
                          <p class="col-xs-12 place" style="padding-top:5px;"> <i class="icon ion-clock"></i> 4 Horas </p>
                       </div>
                       <div class="col-xs-3" style="padding: 0px;">
                             <p class="col-xs-12 place text-right">desde</p> 
                              <p class="col-xs-12 place text-right price"> $50 </p>
                       </div>
                       <!--<p class="col-xs-6 place">
                          <span><b></b><i class="icon ion-fireball"></i> 3 Reservas</span>
                      </p>
                      <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 4 Viajeros</i> </p> -->
                  </div>
              </div>
               </a>
          </div>
      </div>

       <div class="col-sm-6 col-md-6 col-lg-3 tour-list">
          <div class="thumbnail">
              <div class="tour-image" style="height: 175px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://medellin.travel/MedellinTravelWeb/media/1320/agencia-Graffitour-Casa-Kolacho-medellin-travel%20(3).jpg'); background-position: 50%; background-size: cover;">
                  <!--<div class="price-tag"><span>$35</span></div> -->
                  <div class="rate-tag"><span>30% OFF</span></div>
              </div>
              <a href="#">
              <div class="caption">
                  <div class="row" style="padding-top: 5px;">
                      <p class="col-xs-7 tour-description"  id="tour-description">                    
                      Walking Tours</p>
                      <div class="col-xs-5 rating" style="padding: 5px 10px;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </div>
                  <div class="row">
                      <h4 class="name col-xs-12 tour-name"  id="tour-name">Tour de 2 dias / 1 noche en cabañas sobre el mar en</h4>
                  </div>
                  <div class="row">
                      <div class="col-xs-9" style="padding: 0px;">
                          <p class="col-xs-12 place"><i class="icon ion-location"></i> Medellín, Colombia.</p>
                          <p class="col-xs-12 place" style="padding-top:5px;"> <i class="icon ion-clock"></i> 4 Horas </p>
                       </div>
                       <div class="col-xs-3" style="padding: 0px;">
                             <p class="col-xs-12 place text-right">desde</p> 
                              <p class="col-xs-12 place text-right price"> $50 </p>
                       </div>
                       <!--<p class="col-xs-6 place">
                          <span><b></b><i class="icon ion-fireball"></i> 3 Reservas</span>
                      </p>
                      <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 4 Viajeros</i> </p> -->
                  </div>
              </div>
              </a>
          </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 tour-list">
      
          <div class="thumbnail">
              <div class="tour-image" style="height: 175px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('http://sanblastour.com/wp-content/uploads/2015/11/snorkeling_woman_in_san_blas.jpg'); background-position: 50%; background-size: cover;">
                  <!--<div class="price-tag"><span>$35</span></div> -->
                  <div class="rate-tag"><span>30% OFF</span></div>
              </div>
              <a href="#">
              <div class="caption">
                  <div class="row" style="padding-top: 5px;">
                      <p class="col-xs-7 tour-description"  id="tour-description">                    
                      Walking Tours</p>
                      <div class="col-xs-5 rating" style="padding: 5px 10px;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </div>
                  <div class="row">
                      <h4 class="name col-xs-12 tour-name"  id="tour-name">Tour de 2 dias / 1 noche en cabañas sobre el mar en</h4>
                  </div>
                  <div class="row">
                      <div class="col-xs-9" style="padding: 0px;">
                          <p class="col-xs-12 place"><i class="icon ion-location"></i> Medellín, Colombia.</p>
                          <p class="col-xs-12 place" style="padding-top:5px;"> <i class="icon ion-clock"></i> 4 Horas </p>
                       </div>
                       <div class="col-xs-3" style="padding: 0px;">
                             <p class="col-xs-12 place text-right">desde</p> 
                              <p class="col-xs-12 place text-right price"> $50 </p>
                       </div>
                       <!--<p class="col-xs-6 place">
                          <span><b></b><i class="icon ion-fireball"></i> 3 Reservas</span>
                      </p>
                      <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 4 Viajeros</i> </p> -->
                  </div>
              </div>
               </a>
          </div>
      </div>

       <div class="col-sm-6 col-md-6 col-lg-3 tour-list">
          <div class="thumbnail">
              <div class="tour-image" style="height: 175px; background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://medellin.travel/MedellinTravelWeb/media/1320/agencia-Graffitour-Casa-Kolacho-medellin-travel%20(3).jpg'); background-position: 50%; background-size: cover;">
                  <!--<div class="price-tag"><span>$35</span></div> -->
                  <div class="rate-tag"><span>30% OFF</span></div>
              </div>
              <a href="#">
              <div class="caption">
                  <div class="row" style="padding-top: 5px;">
                      <p class="col-xs-7 tour-description"  id="tour-description">                    
                      Walking Tours</p>
                      <div class="col-xs-5 rating" style="padding: 5px 10px;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </div>
                  <div class="row">
                      <h4 class="name col-xs-12 tour-name"  id="tour-name">Tour de 2 dias / 1 noche en cabañas sobre el mar en</h4>
                  </div>
                  <div class="row">
                      <div class="col-xs-9" style="padding: 0px;">
                          <p class="col-xs-12 place"><i class="icon ion-location"></i> Medellín, Colombia.</p>
                          <p class="col-xs-12 place" style="padding-top:5px;"> <i class="icon ion-clock"></i> 4 Horas </p>
                       </div>
                       <div class="col-xs-3" style="padding: 0px;">
                             <p class="col-xs-12 place text-right">desde</p> 
                              <p class="col-xs-12 place text-right price"> $50 </p>
                       </div>
                       <!--<p class="col-xs-6 place">
                          <span><b></b><i class="icon ion-fireball"></i> 3 Reservas</span>
                      </p>
                      <p class="col-xs-6 place"> <i class="icon ion-person-stalker pull-right"> 4 Viajeros</i> </p> -->
                  </div>
              </div>
              </a>
          </div>
      </div>
      
       

  </div><!-- end tour slide-->


</div> <!-- end row-->

<!--<div class="row"> 
  <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <p><a class="btn btn-success view-all-btn" href="#">Ver Todos los Tours</a></p>    
    </div>
  <div class="col-md-4"></div>
</div>  -->

</div> <!-- end container -->
</section>

  <script type="text/javascript">
    $(document).ready(function(){
        
         $('.tour-slide').slick({
            dots: true,
          infinite: false,
          slidesToShow: 4,
          slidesToScroll: 2,
          arrows:true,
          autoplay: true,
            autoplaySpeed: 3000,
          responsive: [
    {
      breakpoint: 1280,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 640,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
        });

    });

     
  </script>


