    <!-- Navigation -->
    <header class="business-header" id="videobg">
        {{>navigation}}
        <div class="container">
            <div class="row hero-search" >
                <div class="col-md-12">
                <h1 class="page-title">Experiencias Locales Únicas</h1>
                <div class="entry-subtitle center">
                    <p>Reserva tours con guías locales en más de 20 destinos y disfruta de tu viaje sin estrés..</p>
                </div>
                </div>
                <div class="col-lg-12">
                 <form>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group input-group-lg">
                        <input type="text" class="form-control hero-search" placeholder="Username">
                        <span class="input-group-addon hero-search-btn"><i class="fa fa-search"></i></span>
                    </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
        
        {{>home/destinations}}
        {{>home/tours}}
        {{>home/c2a}}
        {{>home/how-works}}
       
     

        <!-- Projects Row -->
        

        <!-- Projects Row -->
        
        <!-- Projects Row -->
    
        <!-- Pagination -->
       {{>footer}}
    <!-- /.container -->
    <script type="text/javascript">
    $( document ).ready(function() {
        $('#videobg').vide('/videos/home2.mp4');
    });
    
    </script>
    <script type="text/javascript">
    
    $ (document).ready(function() {
        $('.nav-link').attr("id", "nav-link-inverse");
    });
    </script>
