    <!-- Navigation -->
    <header class="business-header" id="videobg">
        {{>navigation}}
        <div class="container">
            <div class="row hero-search" >
                <div class="col-md-12" style="padding-top:0px;padding-bottom:0px;">
                <h1 class="page-title">Unique Travel Experiences</h1>
                <div class="entry-subtitle center">
                    <p style="color:#e6e6e6">Discover and book tours, activities and things to do in more than 20+ destinations</p>
                </div>
                </div>
                <div class="col-lg-12">
                 <form>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group input-group-lg">
                        <input type="text" class="form-control hero-search" id="searchBox" placeholder="Busca tours, destinos y actividades...">
                        <span class="input-group-addon hero-search-btn"><i class="fa fa-search"></i></span>
                    </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
        {{>home/how-works}}
        {{>home/tours}}
        {{>home/destinations}}
        {{>home/latests}}
        {{>home/c2a}}
        
       
     

        <!-- Projects Row -->
        

        <!-- Projects Row -->
        
        <!-- Projects Row -->
    
        <!-- Pagination -->
       {{>footer}}
    <!-- /.container -->
    <script type="text/javascript">
    $( document ).ready(function() {
        $('#videobg').vide('/videos/home9.mp4');
    });
    
    </script>
    <script type="text/javascript">
    
    $ (document).ready(function() {
        $('.nav-link').attr("id", "nav-link-inverse");
    });
    </script>