<div class="jumbotron search-header" style="background-image: url( https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto,f_auto,g_auto/dpr_auto,w_auto/c_limit,w_1920/ygyauwd35f7rshpbvkqk.jpg);">
  <div class="container"></div>
  <h1 class="text-center" style="font-size:32px;font-weight:800;">Medellin, Antioquia, Colombia</h1>
  <p class="text-center" style="color:white;">Encontramos <strong>32</strong> tours y actividades</p>
  </div>
</div>
{{>search/filters}}
{{>search/results}}
{{>pagination}}
{{>search/otherDestinations}}