<div class="descrtiption row">
	<h3 class="ui horizontal divider margin-5"><i class="tag icon"></i> Acerca del Tour</h3>
    <div class="col-sm-12">
        <p class="tour-info-description">Overlooking Bloomsbury’s Russell Square and a 2 minutes’ walk from the tube station of the same name, this striking Victorian hotel with marble-columned public spaces is a 6 minutes’ walk from the British Museum and a 14 minutes’ walk from Oxford Street. Upscale rooms with polished furnishings feature flat-screen TVs and free WiFi. Elegant suites add separate lounges; many also offer views of Russell Square. Room service is available 24/7.The sophisticated bar and restaurant offers breakfast, lunch and afternoon tea.</p> 
    </div>
</div>
<div class="descrtiption row">
	<h4 class="ui horizontal divider margin-5"><i class="tag icon"></i> Forma de Uso</h4>
    <div class="col-sm-12">
        <p>El transporte terrestre compartiro lo recogerá en la dirección provista entre 5:30 AM - 6:00 AM. Los detalles de contacto se enviarán a su e-mail al momento de que la reserva esté confirmada</p>
    </div>
</div>
<div class="descrtiption row">
	<h4 class="ui horizontal divider margin-5"><i class="tag icon"></i> Inclusiones / Exclusiones</h4>
    <div class="col-sm-6">
    	<h3>Incluye </h3>
        <ul>
        	<li><p class="tour-info-description">Transporte terrestre.</p></li>
        	<li><p class="tour-info-description">Transporte acuático</p></li>
        	<li><p class="tour-info-description">Almuerzo</p></li>
        </ul>
    </div>
    <div class="col-sm-6">
    <h3>Excluye </h3>
        <ul>
        	<li><p class="tour-info-description not-included">Recogida en el hotel.</p></li>
        	<li><p class="tour-info-description not-included">Propinas.</p></li>
        </ul>
    </div>
</div>

<div class="description row">
<h4 class="ui horizontal divider margin-5"><i class="tag icon"></i></h4>
<div class="ui yellow message">
  <div class="header">
    	Información Adicional
  </div>
  <ul class="list">
    <li>Recibirá confirmación de disponibilidad de su reserva dentro de 1 día laboral.</li>
    <li>Sino recibe un e-mail nuestro, revise su folder de Spam o notifíquenos vía e-mail..</li>
    <li>Deberá llevar su pasaporte o cédula original</li>
    <li>El tour se dará con sol o lluvia</li>
  </ul>
</div><br>

