<h4 class="ui horizontal divider"><i class="tag icon"></i> Highlights</h4>
      <div class="col-xs-12 highlights" style="padding-left: 0px;padding-right: 0px;padding-top: 5px;padding-bottom: 5px;">
          <ul>
              <li><h4>
                  El tour más completo de todo medellín
              </h4></li>
               <li><h4>
                  Visita Guatapé, Museo de Antioquia y el Parque Explora
              </h4></li>
               <li><h4>
                  Excelente escapada de fin de semana
              </h4></li>
          </ul>
      </div>