
<style>
    .perk-container{
        text-align:justify;
    }

    .perk-icons i.perk-icon{
        font-size: 20px;
        vertical-align: middle;
    }

</style>
    <div class="col-sm-12" style="padding-top: 0px;margin-bottom: 5px;margin-top: 5px;border-bottom-width: 5px;">
        <div class="row perk-icons">
            <div class="col-md-3 col-sm-3 col-xs-6 perk-container">
                <p ><i class="fa fa-map perk-icon"></i> Hotel</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 perk-container">
                <p><i class="fa fa-life-ring perk-icon"></i> Maritime Shuttle</p>
                
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 perk-container">
                
                <p><i class="fa fa-map perk-icon"></i> Hotel Pick-up</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 perk-container">
                <p><i class="fa fa-life-ring perk-icon"></i> Maritime Shuttle</p>
            </div>
             <div class="col-md-3 col-sm-3 col-xs-6 perk-container">
                <p><i class="fa fa-calendar perk-icon"></i> Maritime Shuttle</p>
            </div>
              <div class="col-md-3 col-sm-3 col-xs-6 perk-container">
                <p><i class="fa fa-bus perk-icon"></i> Maritime</p>
            </div>
              <div class="col-md-3 col-sm-3 col-xs-6 perk-container">
                <p><i class="fa fa-globe perk-icon"></i>  Shuttle</p>
            </div>
       </div>
    </div>