<div class="col-md-12 ">
<h4 class="ui horizontal divider"><i class="tag icon"></i> Fotos del Tour</h4>

	<div class="row img-gallery-container">
        <a class=""  data-fancybox="group" data-caption="Caption #1" href="http://d1s9qqbopzoyqm.cloudfront.net/wp-content/uploads/2014/11/el-pelon.jpg">
        	<div class="col-md-3 col-xs-6 img-gallery" style="background: url('http://d1s9qqbopzoyqm.cloudfront.net/wp-content/uploads/2014/11/el-pelon.jpg');background-position: center;  background-size: cover;"></div>
        </a>

        <a class="" data-fancybox="group" data-caption="Caption #2" href="https://www.justapack.com/wp-content/uploads/2015/05/DSC_0736-1100x656.jpg">
        	<div class="col-md-3 col-xs-6  img-gallery" style="background: url('https://www.justapack.com/wp-content/uploads/2015/05/DSC_0736-1100x656.jpg');background-position: center;  background-size: cover;"></div>
        </a>

        <a class="" data-fancybox="group" data-caption="Caption #3" href="http://chokotrip.info/wp-content/uploads/2014/06/Guatape-el-pueblo-pintoresco-de-Antioquia-1.jpg">
        	<div class="col-md-3 col-xs-6  img-gallery" style="background: url('http://chokotrip.info/wp-content/uploads/2014/06/Guatape-el-pueblo-pintoresco-de-Antioquia-1.jpg');background-position: center;  background-size: cover;"></div>
        </a>

        <a class="" data-fancybox="group" data-caption="Caption #4" href="http://1.bp.blogspot.com/-b8VZYS6Usfg/VOqYZ_qaGII/AAAAAAAAE9o/80iOYlFfCps/s1600/IMG_2298.JPG">
        	<div class="col-md-3 col-xs-6  img-gallery" style="background: url('http://1.bp.blogspot.com/-b8VZYS6Usfg/VOqYZ_qaGII/AAAAAAAAE9o/80iOYlFfCps/s1600/IMG_2298.JPG');background-position: center;  background-size: cover;"></div>
        </a>
        <a class="" data-fancybox="group" data-caption="Caption #4" href="http://1.bp.blogspot.com/-b8VZYS6Usfg/VOqYZ_qaGII/AAAAAAAAE9o/80iOYlFfCps/s1600/IMG_2298.JPG">
        	<div class="col-md-3 col-xs-6  img-gallery" style="background: url('http://1.bp.blogspot.com/-b8VZYS6Usfg/VOqYZ_qaGII/AAAAAAAAE9o/80iOYlFfCps/s1600/IMG_2298.JPG');background-position: center;  background-size: cover;"></div>
        </a>
        <a class=""  data-fancybox="group" data-caption="Caption #1" href="http://d1s9qqbopzoyqm.cloudfront.net/wp-content/uploads/2014/11/el-pelon.jpg">
            <div class="col-md-3 col-xs-6 img-gallery" style="background: url('http://d1s9qqbopzoyqm.cloudfront.net/wp-content/uploads/2014/11/el-pelon.jpg');background-position: center;  background-size: cover;"></div>
        </a>

        <a class="" data-fancybox="group" data-caption="Caption #2" href="https://www.justapack.com/wp-content/uploads/2015/05/DSC_0736-1100x656.jpg">
            <div class="col-md-3 col-xs-6  img-gallery" style="background: url('https://www.justapack.com/wp-content/uploads/2015/05/DSC_0736-1100x656.jpg');background-position: center;  background-size: cover;"></div>
        </a>

        <a class="" data-fancybox="group" data-caption="Caption #3" href="http://chokotrip.info/wp-content/uploads/2014/06/Guatape-el-pueblo-pintoresco-de-Antioquia-1.jpg">
            <div class="col-md-3 col-xs-6  img-gallery" style="background: url('http://chokotrip.info/wp-content/uploads/2014/06/Guatape-el-pueblo-pintoresco-de-Antioquia-1.jpg');background-position: center;  background-size: cover;"></div>
        </a>

        <a class="" data-fancybox="group" data-caption="Caption #4" href="http://1.bp.blogspot.com/-b8VZYS6Usfg/VOqYZ_qaGII/AAAAAAAAE9o/80iOYlFfCps/s1600/IMG_2298.JPG">
            <div class="col-md-3 col-xs-6  img-gallery" style="background: url('http://1.bp.blogspot.com/-b8VZYS6Usfg/VOqYZ_qaGII/AAAAAAAAE9o/80iOYlFfCps/s1600/IMG_2298.JPG');background-position: center;  background-size: cover;"></div>
        </a>
        <a class="" data-fancybox="group" data-caption="Caption #4" href="http://1.bp.blogspot.com/-b8VZYS6Usfg/VOqYZ_qaGII/AAAAAAAAE9o/80iOYlFfCps/s1600/IMG_2298.JPG">
            <div class="col-md-3 col-xs-6  img-gallery" style="background: url('http://1.bp.blogspot.com/-b8VZYS6Usfg/VOqYZ_qaGII/AAAAAAAAE9o/80iOYlFfCps/s1600/IMG_2298.JPG');background-position: center;  background-size: cover;"></div>
        </a>
    </div>
</div> 