<section id="tour-images" class="no-padding-top no-padding-bottom pictures">
        <div class="container-fluid">
            <div class="arrow arrow-nav">
                <i id="prev-arrow" class="ion-arrow-left-c"></i>
            </div>
             <div class="arrow right arrow-nav">
                <i id="next-arrow" class="ion-arrow-right-c"></i>
            </div>
            <div class="row tour-pictures">
                <!--<div class="video" style="height: 450px; width:100%;display:table;margin:1px;"><iframe src="https://player.vimeo.com/video/4618351" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div> -->
               <div style="display: table;
                            width: 100%;
                            height: 400px;
                            color: #fff;
                            margin: 1px;
                            background: url('http://d1s9qqbopzoyqm.cloudfront.net/wp-content/uploads/2014/11/el-pelon.jpg');
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            background-size: cover;
                            background-position: center;">
                </div>
                 <div style="display: table;
                            width: 100%;
                            height: 400px;
                            color: #fff;
                            margin: 1px;
                            background: url('https://www.justapack.com/wp-content/uploads/2015/05/DSC_0736-1100x656.jpg');º
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            background-size: cover;
                            background-position: center;">
                </div>
                 <div style="display: table;
                            width: 100%;
                            height: 400px;
                            color: #fff;
                            margin: 1px;
                            background: url('http://chokotrip.info/wp-content/uploads/2014/06/Guatape-el-pueblo-pintoresco-de-Antioquia-1.jpg');º
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            background-size: cover;
                            background-position: center;">
                </div>
                 <div style="display: table;
                            width: 100%;
                            height: 400px;
                            color: #fff;
                            margin: 1px;
                            background: url('http://1.bp.blogspot.com/-b8VZYS6Usfg/VOqYZ_qaGII/AAAAAAAAE9o/80iOYlFfCps/s1600/IMG_2298.JPG');º
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            background-size: cover;
                            background-position: center;">
                </div>
            </div>
        </div>    
</section>
    

<section id="tour-info">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-8">
                    <div class="col-sm-12">
                        <a href="#">Home</a> <i class="ion-ios-arrow-right"></i> <a href="#">Colombia</a> <i class="ion-ios-arrow-right"></i> <a href="#">Medellín</a>
                    </div>
                    <div class="col-sm-12">
                        <h1 class="tour-title">Unforgetable Medellín 3 Day Tour</h1>
                    </div>
                    <div class="col-sm-12">
                        <p class="tour-info-description">The tour, which is of around 60 minutes, starts in the morning at around 10.30 AM. Guests are informed about the history of wine and its cultivation before proceeding to witness the actual process at the vineyard.</p>
                    </div>
                    <div class="col-sm-12 tour-info-icons">
                        <div class="col-sm-3 tour-info-icon">
                            <h4 class="tour-info rating">4.4 / 5.0</h4>
                            <div class="tour-info rating">
                                <i class="fa fa-star tour-info-icon"></i> <i class="fa fa-star tour-info-icon"></i> <i class="fa fa-star tour-info-icon"></i> <i class="fa fa-star tour-info-icon"></i> <i class="fa fa-star-half-o tour-info-icon"></i>
                            </div>
                        </div>
                        <div class="col-sm-3 tour-info-icon">
                            <i class="fa fa-bus tour-info-icon"></i>
                            <h4 class="tour-info">3 reservas<h4/>
                        </div>
                        <div class="col-sm-3 tour-info-icon">
                             <i class="fa fa-clock-o tour-info-icon"></i>
                             <h4 class="tour-info">4 Horas<h4/>
                        </div>
                        <div class="col-sm-3 tour-info-icon">
                            <i class="fa fa-users tour-info-icon"></i>
                            <h4 class="tour-info">2 - 4 Viajeros<h4/>
                        </div>
                    </div> <!-- end info icons -->
                    <div class="highlights">
                        <div class="col-sm-6">
                            <h2 class="highlight-title">Incluye</h2>
                            <ul>
                                <li><h4>
                                    El tour más completo de todo medellín
                                </h4></li>
                                 <li><h4>
                                    Visita Guatapé, Museo de Antioquia y el Parque Explora
                                </h4></li>
                                 <li><h4>
                                    Excelente escapada de fin de semana
                                </h4></li>
                            </ul>
                        </div>
                    </div> <!-- end highlights -->
                     <div class="highlights">
                        <div class="col-sm-6">
                            <h2 class="highlight-title">Excluye</h2>
                            <ul>
                                <li><h4>
                                    El tour más completo de todo medellín
                                </h4></li>
                                 <li><h4>
                                    Visita Guatapé, Museo de Antioquia y el Parque Explora
                                </h4></li>
                                 <li><h4>
                                    Excelente escapada de fin de semana
                                </h4></li>
                            </ul>
                        </div>
                    </div> <!-- end highlights -->
                    <div class="descrtiption">
                        <div class="col-sm-12">
                            <h2 class="highlight-title">Package Description</h2>
                            <p class="tour-info-description">Overlooking Bloomsbury’s Russell Square and a 2 minutes’ walk from the tube station of the same name, this striking Victorian hotel with marble-columned public spaces is a 6 minutes’ walk from the British Museum and a 14 minutes’ walk from Oxford Street.

Upscale rooms with polished furnishings feature flat-screen TVs and free WiFi. Elegant suites add separate lounges; many also offer views of Russell Square. Room service is available 24/7.

The sophisticated bar and restaurant offers breakfast, lunch and afternoon tea.</p>
                        </div>
                    </div>
                    <div class="perks">
                        <div class="col-sm-12">
                            <h2 class="highlight-title icons">Perks</h2>
                            <div class="icons-row">
                            <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-map tour-info-icon"></i>
                                <p>Hotel Pick-up</p>
                            </div>
                            <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-life-ring"></i>
                                <p>Maritime Shuttle</p>
                            </div>
                            <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-cutlery"></i>
                                <p>Food</p>
                            </div>
                             <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-address-card"></i>
                                <p>Insurance</p>
                            </div>
                             <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-ticket"></i>
                                <p>Tickets</p>
                            </div>
                             <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-car"></i>
                                <p>Transportation</p>
                            </div>
                            <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-shopping-basket"></i>
                                <p>Snacks</p>
                            </div>
                            <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-coffee"></i>
                                <p>Water or Soda</p>
                            </div>
                            <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-beer"></i>
                                <p>Alcoholic Drinks</p>
                            </div>
                            <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-money"></i>
                                <p>Taxes</p>
                            </div>
                             <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-bed"></i>
                                <p>Lodging</p>
                            </div>
                            <div class="col-sm-3 tour-info-icon">
                                <i class="fa fa-bed"></i>
                                <p>Cabins</p>
                            </div>
                           </div>
                        </div>
                    </div>
                    <div class="descrtiption">
                        <div class="col-sm-12">
                            <h2 class="highlight-title">Notas Importantes</h2>
                            <p class="tour-info-description">Aqui va lo de los pasaportes y taxes. 
                            Overlooking Bloomsbury’s Russell Square and a 2 minutes’ walk from the tube station of the same name, this striking Victorian hotel with marble-columned public spaces is a 6 minutes’ walk from the British Museum and a 14 minutes’ walk from Oxford Street.

Upscale rooms with polished furnishings feature flat-screen TVs and free WiFi. Elegant suites add separate lounges; many also offer views of Russell Square. Room service is available 24/7.

The sophisticated bar and restaurant offers breakfast, lunch and afternoon tea.</p>
                        </div>
                    </div>
                    <div class="descrtiption">
                        <div class="col-sm-12">
                            <h2 class="highlight-title">Instrucciones de Uso</h2>
                            <p class="tour-info-description">Aqui va cómo es el pickup o si tiene que ir a un punto específico. Overlooking Bloomsbury’s Russell Square and a 2 minutes’ walk from the tube station of the same name, this striking Victorian hotel with marble-columned public spaces is a 6 minutes’ walk from the British Museum and a 14 minutes’ walk from Oxford Street.

Upscale rooms with polished furnishings feature flat-screen TVs and free WiFi. Elegant suites add separate lounges; many also offer views of Russell Square. Room service is available 24/7.

The sophisticated bar and restaurant offers breakfast, lunch and afternoon tea.</p>
                        </div>
                    </div>
                    <div class="descrtiption">
                        <div class="col-sm-12">
                            <h2 class="highlight-title">Política de Cancelación</h2>
                            <p class="tour-info-description">Aqui va cómo es el pickup o si tiene que ir a un punto específico. Overlooking Bloomsbury’s Russell Square and a 2 minutes’ walk from the tube station of the same name, this striking Victorian hotel with marble-columned public spaces is a 6 minutes’ walk from the British Museum and a 14 minutes’ walk from Oxford Street.

Upscale rooms with polished furnishings feature flat-screen TVs and free WiFi. Elegant suites add separate lounges; many also offer views of Russell Square. Room service is available 24/7.

The sophisticated bar and restaurant offers breakfast, lunch and afternoon tea.</p>
                        </div>
                    </div>
                  
            </div> <!-- end content div -->
            <div id="sidebar" class="col-lg-4">
               {{>tour/sidebar}} 
            </div> <!-- end sidebar -->
        </div> <!-- end container row -->
    </div> <!-- end container -->
</section>    

<script type="text/javascript">

$(document).ready( function() {
    // Target your .container, .wrapper, .post, etc.
    $(".video").fitVids();
    $(".fluid-width-video-wrapper").attr('style','height:450px;')
    $('.tour-pictures').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3,
      arrows: false,
      autoplay: false,
      responsive: [
    {
      breakpoint: 1280,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    ]
    });

    $("#next-arrow").click(function(){
        $('.tour-pictures').slick('slickNext');
    });
    $("#prev-arrow").click(function(){
        $('.tour-pictures').slick('slickPrev');
    });
  //  $('#prev-arrow').slick('slickPrev');
});
    

</script>
