<section id="tour-images" class="no-padding-top no-padding-bottom pictures">
        <div class="container-fluid">
            <div class="arrow arrow-nav">
                <i id="prev-arrow" class="ion-arrow-left-c"></i>
            </div>
             <div class="arrow right arrow-nav">
                <i id="next-arrow" class="ion-arrow-right-c"></i>
            </div>
            <div class="row tour-pictures">
                <!--<div class="video" style="height: 450px; width:100%;display:table;margin:1px;"><iframe src="https://player.vimeo.com/video/4618351" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div> -->
               <div style="display: table; width: 100%;height: 400px;color: #fff;margin: 1px;background: url('http://d1s9qqbopzoyqm.cloudfront.net/wp-content/uploads/2014/11/el-pelon.jpg');-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-position: center;">
                </div>
                 <div style="display: table;width: 100%;height: 400px;color: #fff;margin: 1px;background: url('https://www.justapack.com/wp-content/uploads/2015/05/DSC_0736-1100x656.jpg');º-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-position: center;">
                </div>
                 <div style="display: table;width: 100%;height: 400px;color: #fff;margin: 1px;background: url('http://chokotrip.info/wp-content/uploads/2014/06/Guatape-el-pueblo-pintoresco-de-Antioquia-1.jpg');º-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-position: center;">
                </div>
                 <div style="display: table;width: 100%;height: 400px;color: #fff;margin: 1px;background: url('http://1.bp.blogspot.com/-b8VZYS6Usfg/VOqYZ_qaGII/AAAAAAAAE9o/80iOYlFfCps/s1600/IMG_2298.JPG');º-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-position: center;">
                </div>
            </div>
        </div>    
</section>
  

<section id="tour-info">
    <div class="container">
        <div class="row">
           <div id="sidebar" class="col-md-4 col-md-push-8">
                {{>tour/sidebar}} 
            </div> <!-- end content div -->
            <div id="content" class="col-md-8 col-md-pull-4" style="padding-top: 0px;">
                    <div class="col-sm-12">
                       <div class="ui breadcrumb">
                          <a class="section">Inicio</a>
                          <span class="divider">/</span>
                          <a class="section">Colombia</a>
                          <span class="divider">/</span>
                          <div class="active section">Medellin</div>
                        </div>
                    </div>

                    <div class="col-sm-12" style="padding-top:0px;padding-bottom:0px;">

                        <h1 class="tour-title">Unforgetable Medellín 3 Day Tour</h1>
                        <div class="row">
                        <div class="col-md-4"><div class="ui star rating" data-rating="4" data-max-rating="5"></div><span class="tour-description-icon">(5 Reviews) </span></div> <div class="col-md-2"><i class="fa fa-bus"> </i> <span class="tour-description-icon">3 horas</span></div> <div class="col-md-4"><span class="tour-description-icon">2 - 3 Pasajeros</div> </div>
                        
                    </div>
                  
                    <div class="col-sm-12">
                        <p class="tour-subtitle">The tour, which is of around 60 minutes, starts in the morning at around 10.30 AM. The tour, which is of around 60 minutes, starts in the morning at around 10.30 AM</p>
                    </div>

                    <!--<h4 class="ui horizontal divider header" style="margin-bottom: 5px;"><i class="tag icon"></i>Incluye</h4>-->
                      {{>tour/icons}}
                        <!--<div class="col-sm-12 tour-info-icons"> 
                          <div class="col-sm-3 tour-info-icon">
                              <h4 class="tour-info rating">4.4 / 5.0</h4>
                              <div class="tour-info rating">
                                  <i class="fa fa-star tour-info-icon"></i> <i class="fa fa-star tour-info-icon"></i> <i class="fa fa-star tour-info-icon"></i> <i class="fa fa-star tour-info-icon"></i> <i class="fa fa-star-half-o tour-info-icon"></i>
                              </div>
                          </div>
                          <div class="col-sm-3 tour-info-icon">
                              <i class="fa fa-bus tour-info-icon"></i>
                              <h4 class="tour-info">3 reservas</h4>
                          </div>
                          <div class="col-sm-3 tour-info-icon"><i class="fa fa-clock-o tour-info-icon"></i><h4 class="tour-info">4 Horas</h4></div>
                          <div class="col-sm-3 tour-info-icon"><i class="fa fa-users tour-info-icon"></i><h4 class="tour-info">2 - 4 Viajeros</h4></div>
                        </div> end info icons -->

                    {{>tour/highlights}}
                    {{>tour/video}}
                    {{>tour/photoGallery}}
                    {{>tour/description}}         
              </div> <!-- end content div -->
            </div> <!-- end sidebar -->
        </div> <!-- end container row -->
    </div> <!-- end container -->
</section>    

<script type="text/javascript">

$(document).ready( function() {
    // Target your .container, .wrapper, .post, etc.
    $(".video").fitVids();
    $(".fluid-width-video-wrapper").attr('style','height:450px;')
    $('.tour-pictures').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3,
      arrows: false,
      autoplay: false,
      responsive: [
    {
      breakpoint: 1280,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    ]
    });

    $("#next-arrow").click(function(){
        $('.tour-pictures').slick('slickNext');
    });
    $("#prev-arrow").click(function(){
        $('.tour-pictures').slick('slickPrev');
    });
  //  $('#prev-arrow').slick('slickPrev');
});
    

</script>
