<section id="video">
	<div class="description row">
		<h4 class="ui horizontal divider margin-5"><i class="tag icon"></i> Video</h4>
		<div class="col-md-12" id="video-container">
			<iframe width="560" height="275" src="https://www.youtube.com/embed/un5mOo-9SPM" frameborder="0" allowfullscreen></iframe>
		</div>
</section>	

<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("#video-container").fitVids();
  });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js">
</script>