<svg width="148px" height="170px" style="margin-top: 20px" viewBox="0 0 320 370" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                                                                        <title>Group</title>
                                                                                        <desc>Created with Sketch.</desc>
                                                                                        <defs></defs>
                                                                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                                                                            <g id="Group" sketch:type="MSLayerGroup" transform="translate(0.000000, 2.000000)">
                                                                                                <g transform="translate(0.000000, 80.000000)" sketch:type="MSShapeGroup">
                                                                                                    <path d="M48,32 L0,62.333 L0,240 L48,240 L48,32 L48,32 Z" id="Shape" fill="#D3DBDD"></path>
                                                                                                    <rect id="Rectangle-path" fill="#D3DBDD" x="48" y="96" width="48" height="144"></rect>
                                                                                                    <path d="M128,48 L96,80 L96,240 L128,240 L128,48 L128,48 Z" id="Shape" fill="#D3DBDD"></path>
                                                                                                    <path d="M176.5,32 L144.5,32 L144.5,240 L176.5,240 L176.5,112 L176.5,32 L176.5,32 Z" id="Shape" fill="#D3DBDD"></path>
                                                                                                    <rect id="Rectangle-path" fill="#D3DBDD" x="128" y="160" width="16" height="80"></rect>
                                                                                                    <path d="M176.5,96.137 L208,64 L240,96 L272,96 L272,240 L176.5,240 L176.5,96.137 L176.5,96.137 Z" id="Shape" fill="#BAC4C6"></path>
                                                                                                    <path d="M304,30.999 L272,0 L272,240 L304,240 L304,30.999 L304,30.999 Z" id="Shape" fill="#D3DBDD"></path>
                                                                                                    <rect id="Rectangle-path" fill="#D3DBDD" x="304" y="144" width="16" height="96"></rect>
                                                                                                </g>
                                                                                                <rect id="Rectangle-path" stroke="#30241C" stroke-width="4" sketch:type="MSShapeGroup" x="64" y="29.667" width="192" height="243.083"></rect>
                                                                                                <path d="M64,308 C64,314.627 69.373,320 76,320 L244,320 C250.627,320 256,314.627 256,308 L256,272.75 L64,272.75 L64,308 L64,308 Z" id="Shape" stroke="#30241C" stroke-width="4" sketch:type="MSShapeGroup"></path>
                                                                                                <path d="M256,12 C256,5.373 250.627,0 244,0 L76,0 C69.373,0 64,5.373 64,12 L64,29.667 L256,29.667 L256,12 L256,12 Z" id="Shape" stroke="#30241C" stroke-width="4" sketch:type="MSShapeGroup"></path>
                                                                                                <path d="M152,15.863 L169,15.863" id="Shape" stroke="#30241C" stroke-width="4" sketch:type="MSShapeGroup"></path>
                                                                                                <path d="M137.334,296.375 L183.666,296.375" id="Shape" stroke="#30241C" stroke-width="4" sketch:type="MSShapeGroup"></path>
                                                                                                <circle id="Oval" stroke="#30241C" stroke-width="4" sketch:type="MSShapeGroup" cx="230.333" cy="296.375" r="4.625"></circle>
                                                                                                <g id="Shape" transform="translate(80.000000, 47.000000)" sketch:type="MSShapeGroup">
                                                                                                    <g id="path-1-link" fill="#5AD4FF">
                                                                                                        <path d="M160,0.534 L0,0.534 L0,49 L117.21,49 L127.96,59.75 L138.544,49 L160,49 L160,0.534 L160,0.534 Z" id="path-1"></path>
                                                                                                    </g>
                                                                                                    <path d="M160,0.534 L0,0.534 L0,49 L117.21,49 L127.96,59.75 L138.544,49 L160,49 L160,0.534 L160,0.534 Z" id="path-1"></path>
                                                                                                </g>
                                                                                                <path d="M129.75,63.5 L189.25,63.5" id="Shape" stroke="#30241C" stroke-width="4" sketch:type="MSShapeGroup"></path>
                                                                                                <path d="M99.5,80 L219.5,80" id="Shape" stroke="#30241C" stroke-width="4" sketch:type="MSShapeGroup"></path>
                                                                                                <path d="M224.125,192.25 C224.125,201.155 208,239.875 208,239.875 C208,239.875 191.875,201.155 191.875,192.25 C191.875,183.345 199.095,176.125 208,176.125 C216.905,176.125 224.125,183.345 224.125,192.25 L224.125,192.25 L224.125,192.25 Z" id="Shape" fill="#FF4D55" sketch:type="MSShapeGroup"></path>
                                                                                                <path d="M224.125,192.25 C224.125,201.155 208,239.875 208,239.875 C208,239.875 191.875,201.155 191.875,192.25 C191.875,183.345 199.095,176.125 208,176.125 C216.905,176.125 224.125,183.345 224.125,192.25 L224.125,192.25 L224.125,192.25 Z" id="Shape" stroke="#30241C" stroke-width="4" sketch:type="MSShapeGroup"></path>
                                                                                                <path d="M195.834,256.333 L219.5,256.333" id="Shape" stroke="#30241C" stroke-width="4" sketch:type="MSShapeGroup"></path>
                                                                                                <circle id="Oval" stroke="#30241C" stroke-width="4" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="208" cy="192" r="6"></circle>
                                                                                                <g id="Rectangle-path" transform="translate(8.000000, 128.000000)" fill="#BAC4C6" sketch:type="MSShapeGroup">
                                                                                                    <rect x="0.333" y="31.476" width="7.667" height="56.524"></rect>
                                                                                                    <rect x="280" y="31.476" width="7.667" height="56.524"></rect>
                                                                                                    <rect x="20.166" y="88" width="7.668" height="56.524"></rect>
                                                                                                    <rect x="272.334" y="111.851" width="7.666" height="56.524"></rect>
                                                                                                    <rect x="296" y="111.851" width="7.666" height="56.524"></rect>
                                                                                                    <rect x="62.833" y="57" width="7.667" height="38.834"></rect>
                                                                                                    <rect x="76.666" y="57" width="7.668" height="38.834"></rect>
                                                                                                    <rect x="93.25" y="95.834" width="7.666" height="38.834"></rect>
                                                                                                    <rect x="107.083" y="95.834" width="7.667" height="38.834"></rect>
                                                                                                    <g id="Group" transform="translate(141.000000, 0.000000)">
                                                                                                        <rect id="Rectangle-path" x="0.582" y="0" width="7.668" height="15.334"></rect>
                                                                                                        <rect id="Rectangle-path" x="14.416" y="0" width="7.667" height="15.334"></rect>
                                                                                                    </g>
                                                                                                    <g id="Group" transform="translate(141.000000, 32.000000)">
                                                                                                        <rect id="Rectangle-path" x="0.582" y="0" width="7.668" height="15.334"></rect>
                                                                                                        <rect id="Rectangle-path" x="14.416" y="0" width="7.667" height="15.334"></rect>
                                                                                                    </g>
                                                                                                    <g id="Group" transform="translate(141.000000, 80.000000)">
                                                                                                        <rect id="Rectangle-path" x="0.582" y="0.333" width="7.668" height="15.334"></rect>
                                                                                                        <rect id="Rectangle-path" x="14.416" y="0.333" width="7.667" height="15.334"></rect>
                                                                                                    </g>
                                                                                                    <rect x="0.333" y="134.5" width="7.667" height="56.524"></rect>
                                                                                                </g>
                                                                                            </g>
                                                                                        </g>
                                                                                    </svg>