{{>navigation-alt}}
{{>country/country-header}}
{{>country/destinations}}
<div class="container">
  <div class="row">
    <div class="col-lg-12"><h1>Top Tours en Colombia</h1></div>
  </div>
</div>

{{>search/results}}
{{>pagination}}
{{>footer}}
<script type="text/javascript">
    $ (document).ready(function() {
        $('.nav-link').attr("id", "nav-link");
    });
</script>