<div class="jumbotron country-header" style="background-image: url( https://aiesec.org.mx/wp-content/uploads/2017/02/banderacolombia_dt-3.jpg);">
  <div class="container"></div>
  <h1 class="text-center" style="font-size:32px;font-weight:800;">Tours en Colombia</h1>
  <p class="text-center" style="color:white;">Encontramos <strong>32</strong> tours y actividades</p>
</div>