<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Destinos en Colombia</h1>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                  <div class="img_container destination-container"  style="background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,q_auto/v1490997532/jgbmzgp0xfwbw6znmbrv.jpg'); background-position: 50%; background-size: cover;">
                        <h2 class="destination-name no-margin">Ciudad de México</h2>
                    </div>  </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="img_container destination-container"  style="background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,q_auto/v1459899618/whqbdfbxxik3bvqprhk4.jpg'); background-position: 50%; background-size: cover;">
                         <h2 class="destination-name no-margin">Panama City</h2>
                    </div>   
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="img_container destination-container"  style="background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('http://media.staticontent.com/media/pictures/ee830e97-d725-4f6e-b4c6-54d1b2d97179/657x302'); background-position: 50%; background-size: cover;">
                         <h2 class="destination-name no-margin">Medellín</h2>
                    </div>   
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="img_container destination-container"  style="background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('http://www.swanscayhotel.com/wp-content/uploads/2016/07/Isla-Colon-Bocas-del-Toro-7.jpg'); background-position: 50%; background-size: cover;">
                         <h2 class="destination-name no-margin">Bocas del Toro</h2>
                    </div>   
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="img_container destination-container"  style="background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('http://www.cheapcaribbean.com/content/dam/cancun-beaches.jpg'); background-position: 50%; background-size: cover;">
                         <h2 class="destination-name no-margin">Cancún</h2>
                    </div>   
                </div>
                  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="img_container destination-container"  style="background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://static01.nyt.com/images/2015/11/08/travel/08HOURS3/08HOURS3-jumbo.jpg'); background-position: 50%; background-size: cover;">
                         <h2 class="destination-name no-margin">Bogotá</h2>
                    </div>   
                </div>
           
             </div>
             </div>   
