@import url('https://fontlibrary.org/face/hanken');
body {
	font-family: 'Raleway','HankenLight', 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
	/*padding-top: 60px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Raleway','HankenLight', 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}
p {
	color:#484848;
  -webkit-font-smoothing: antialiased;
}
.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}
footer p {
  color: white;
}
.business-header {
    height: 500px;
    background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5));
    /* background: url('https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto,f_auto,g_auto/dpr_auto,w_auto/c_limit,w_1440/nhrd0yprpm6oalrzdcgs.jpg') center center no-repeat scroll; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
}
 
.hero-search {
	padding-top: 9%;
    border-color: white !important;
}
.page-title{
  font-weight: 800;
	font-size: 48px;
	color: white;
	text-align: center;
}
.entry-subtitle {
	font-size: 18px;
    padding-bottom: 15px; 
}
.entry-subtitle p {
   color: #484848;
}
.center {
	text-align: center;
}
.hero-search-btn{
    color: white;
    text-align: center;
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 4px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}
section {
    padding: 20px 0;
}
section h1{
    color: #484848;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}
section .lead{
    color: #484848;
    font-weight: 400;
    font-size: 18px;
}

@media (min-width: 768px)
.lead {
    font-size: 21px;
}

.destination-container{
 height: 150px !important;
  width: auto;
  border-radius: 15% !important;
  
}
.img_container {
    text-align: center;
    height:200px;
    border-radius: 5%;
}

.img_container > i{
    position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */

}
.img_container > h3, h2{
    position:relative;
    top: calc(49% - 10px); /* 50% - 3/4 of icon height */
    color: white;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.padding-15{
    padding: 15px;
}

.thumbnail img {
    width: 100%;
}
.thumbnail .caption {
     padding: 0 15px;
     border: 1px solid gainsboro;
}
.caption {
    height: 130px;
    overflow: hidden;
    padding: 0 10px;
}
.caption
    p{
        color: #484848;
    }
.caption
    .price {
        color: #484848 !important;
        font-size: 1.5em !important;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0px;
            }
 .caption .name {
        padding: 0 10px;
        padding-bottom: 5px;
        color: #484848;
        font-size: 16px;
        margin: 0px;
        font-family: 'Montserrat', 'Raleway', Sans-Serif;
            }
.caption 
    .place{
        padding: 0px 10px;
        color: #484848;
        font-size: 14px;
        margin-bottom: 0px;
    }            
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}
.ratings 
    p{
        color: #d17581;
    }
.ratings
    .fa {
    color: #d17581;
}
section
    .single-tour{
        margin-left: inherit;
    }
.view-all-btn {
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14.95px;
    padding: 12px 24px;
    text-align: center;
    transition: 0.1s background-color ease-out;
    -webkit-appearance: none;
}
.callout {
    display: table;
    width: 100%;
    height: 375px;
    color: #fff;
   background: -webkit-linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)),url('https://scontent-gru2-2.xx.fbcdn.net/v/t31.0-8/18922848_821861217977414_2524089024153140341_o.jpg?oh=1b3bd29ce5da12f2446905ee2c513aa3&oe=59CD18AF');
   background: -o-linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)),url('https://scontent-gru2-2.xx.fbcdn.net/v/t31.0-8/18922848_821861217977414_2524089024153140341_o.jpg?oh=1b3bd29ce5da12f2446905ee2c513aa3&oe=59CD18AF');
   background: linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7)),url('https://scontent-gru2-2.xx.fbcdn.net/v/t31.0-8/18922848_821861217977414_2524089024153140341_o.jpg?oh=1b3bd29ce5da12f2446905ee2c513aa3&oe=59CD18AF'); 
   background-position: 50% 35%; background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.no-padding-top{
    padding-top: 0;
}
.text-white
{
    color: white;
}
.c2a-btn {
    font-size: 18px;
}
.feature {
    display: table;
    
}
.card
    .title {
        margin-top:0px;
        color: #484848;
    }
    .subtitle {
        font-weight: 300;
        color: #484848;
    }
.footer {
    background-color: #1B222C;
}
#nav-link-inverse{
    font-size: 15px;
    font-weight: 400;
}
.navbar{
    margin-bottom: 0;
}    
#nav-link{
    color: #484848;
    font-size: 15px;
    font-weight: 400;

}
#nav-link:hover {
    color: #3498db;
}
.no-padding-bottom{
    padding-bottom: 0;
}
.profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url('https://res.cloudinary.com/triptable/image/upload/w_400,h_400,g_face,c_fill,q_auto,f_auto/v1462660313/12244425_10153737963636917_2019038422203593264_o_aov2yu.jpg') 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}
.img-circle{
    border-radius: 50%;
}
/**Mega menu **/
.navbar-nav>li>.dropdown-menu {
}

.navbar-default .navbar-nav>li>a {
  width: 200px;
  font-weight: bold;
}

.mega-dropdown {
  position: static !important;
  width: 100%;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
}

.mega-dropdown-menu:after {

}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}
.navbar-default{
    background-color: transparent;
}
h2.name{
  font-size: 25px;
  font-weight: 800;
}
h2.destination-name{
  font-size: 18px;
  font-weight: 800;
}
.destination {
    background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .3)) ;
}
i{
  font-style: normal !important;
}
#tour-description{
  padding: 5px 10px;
  line-height: 1.6em;
  margin-bottom: 0px;
  font-size: 12px;
  text-transform: uppercase;
}
.fa-star {
  color: #f1c40f;
}
.fa-star-half {
  color: #f1c40f;
}
.fa-star-half-o{
  color: #f1c40f;
}
.tour-list:focus{
  border: none;
}
:focus {
    outline: transparent;
    outline-color: transparent;
    outline-style: auto;
    outline-width: 0px;
}
span.rate{
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.ion-fireball{
  color: #e74c3c;
}
.ion-pricetags{
  color: #2ecc71;
}
.ion-location{
  color: #3498db;
}
.ion-clock{
  color: #3498db;
}
.price-tag { 
   position: relative; 
   top: 75%; 
   width: 100%; 
}
.price-tag span { 
   color: white; 
  font-size: 20px;
  font-family: 'Montserrat', Sans-Serif;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 7px; 
}
.rate-tag{
      float: right;
    position: absolute;
    top: 22px;
    right: 15px;
}
.rate-tag span { 
   color: white; 
   font-size: 14px;
   font-weight: 200;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 7px; 
}
.tour-picture{
  
  
}
.tour-image{
  width: 100%; 
  height: 500px; 
  color: #fff;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.arrow-nav {
  padding-top: 10px;
  text-align: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 27%;
    color: #3498db;
    z-index: 100;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.9;
}
.arrow:hover{
  opacity: 1;
}
.arrow.right{
  right: 10px;
}
.navbar-brand{
  font-family: 'Lobster', Sans-Serif;
  font-size: 30px;
  color: #3498db !important;
  padding: 15px;
}
h1.tour-title{
  margin: 0;
  text-align: left;
  font-weight: 800;
}
p.tour-subtitle {
  color: black;
  font-weight: 400;
  text-align: justify;
  font-size: 15px;
  margin-bottom: 0px;
}
h4.tour-info{
}
h4.tour-info.rating{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  
}
i.tour-info-icon{
  text-align: center;
  font-size: 14px;
}
div.tour-info-icon{
  text-align: center;
   
}

.col-xs-12 .highlights {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.highlight-title{
  font-size: 24px;
  color: #484848;
}
.icons i{
  font-size: 20px;
}
.datepicker-title {
  color: #484848;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
h2.price{
  color: #3498db;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 2.1em;
}
span.money{
  font-weight: 400;
  font-size: 30px;
}
span.currency{
  font-weight: 400;
  font-size: 15px;
  color: #484848;
}
.price-currency{
  color: #484848;

}
.widget{
  margin-bottom: 25px;
  -webkit-box-shadow: 2px 2px 3px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 3px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 3px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.btn-flat {
  box-shadow: 0;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.widget.booking{
  text-align: center;
}
.callus-title{
  font-size: 21px;
}
}

h4 i.fa{
  color: #4398db;
  font-weight: 700;
}
.questions-title{
  font-size: 20px;
}
.questions-subtitle{
  font-size: 14px;
  color: #484848;
}
.questions-info{
}
.book-now-btn{
  font-size: 16px;
}

.question-phone{
  
}
.question-phone i{
  color: #3498db;
}
.perks .fa{
  font-size: 30px;
  
}
.perks .col-sm-3{
  text-align: center;
}
.thumb{
  padding: 1px;
}
.thumbnail{
  margin-bottom: 0;
  border: 0;
  padding: 0;
}
.img-gallery-container {
   padding: 15px;
}
.img-gallery {
  width: 100px;
  height: 100px;
  color: #fff;
  margin: 1px;
}
.rating i{
  float: right;
}
.text-right: {
  text-align: right;
}
.slick-arrow{
  background-color: transparent;
}
.slick-prev{
  left:13px;
  z-index: 100000;
  top:30%;
}
.slick-next{
  right:33px;
  z-index: 100000;
  top:30%;
}
.slick-next:before, .slick-prev:before {
    font-size: 40px;
    line-height: 1;
    opacity: 1;
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff; 
    background-color: transparent;
    text-decoration: underline;
  }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #2980b9;
    color: #ffffff;
}
.navbar-nav>li>.dropdown-menu {
   margin-top: 0;
   border-top-left-radius: 0; 
   border-top-right-radius: 0; 
   border-radius: 10%;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
  background-color: transparent;
}
.search-header{
    padding: 75px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: rgba(255,255,255,.9);
}
.country-header{
    padding: 120px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: rgba(255,255,255,.9);
}
.search.img_container {
     height: 150px;
    border-radius: 15px;
}
/*Algolia search */
.algolia-autocomplete {
  width: 100%;
}
.ad-example-dropdown-menu {
  width: 100%;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 5px;
  padding: .5em;
  box-shadow: 1px 1px 32px -10px rgba(0,0,0,0.62);
  margin: 5px 0;
}
.ad-example-dropdown-menu .ad-example-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.ad-example-dropdown-menu .ad-example-suggestion img {
  height: 2em;
  margin-top: .5em;
  margin-right: 10px;
  float: left;
}
.ad-example-dropdown-menu .ad-example-suggestion small {
  font-size: .8em;
  color: #bbb;
}
.ad-example-dropdown-menu .ad-example-suggestion.ad-example-cursor {
  background-color: #B2D7FF;
}
.ad-example-dropdown-menu .ad-example-suggestion em {
  font-weight: bold;
  font-style: normal;
}
.ad-example-header {
  font-weight: bold;
  padding: .5em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
#searchBox{
    padding: 31px;
    font-family: inherit;
}
#searchBox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #949494;
  font-size: 17px;
}
#searchBox::-moz-placeholder { /* Firefox 19+ */
  color: #949494;
  font-size: 17px;
}
#searchBox:-ms-input-placeholder { /* IE 10+ */
  color: #949494;
  font-size: 17px;
}
#searchBox:-moz-placeholder { /* Firefox 18- */
  color: #949494;
  font-size: 17px;
}
/*end algolia */
.ui.icon.input>i.icon{
  opacity: 1;
}
.ui #searchBox {
  min-width: 245px;
}
.ui.inline.dropdown>.text {
    font-weight: 400;
}
.navbar-nav>li>.dropdown-menu{
   margin-top: 0;
   border-top-left-radius: 0; 
   border-top-right-radius: 0; 
   border-radius: 0%;
}
.text span{
  text-transform: uppercase;
}
.card h2.title{
  font-weight: 400;
  font-family: "Raleway", Sans-Serif;
}
.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin:0 !important;
}
section.inverse{
      background-color: whitesmoke;
}
.breadcrumb{
  background-color: transparent;
padding: 0;
}
.breadcrumb > .active {
    color:#2980b9;
}

.margin-5 {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
 }
.ui.divider{
  font-weight: 600;
  font-size: 1.1rem;
}
.not-included{
  text-decoration: line-through;
}
.btn-success:focus, .btn-success.focus {
    color: #ffffff;
    background-color: #2980b9;
    border-color: #2980b9;
}
.btn-success:active:hover{
  color: #ffffff;
    background-color: #2980b9;
    border-color: #2980b9;
}
span.tour-description-icon{
  font-size: 16px;
}