@import url('https://fontlibrary.org/face/hanken');

body {
	font-family: 'HankenLight', 'Lato', sans-serif;
	/*padding-top: 60px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "HankenLight", "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}
p {
	color:#484848;
}
.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}
footer p {
  color: white;
}
.business-header {
    height: 600px;
    background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5));
   /* background: url(http://placehold.it/1920x400) center center no-repeat scroll; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
}
 
.hero-search {
	padding-top: 12%;
    border-color: white !important;
}
.page-title{
	font-family: 'HankenBook', 'Lato', sans-serif; 
	font-size: 48px;
	color: white;
	text-align: center;
}
.entry-subtitle{
	font-size: 18px;
    padding-bottom: 15px;
}
.center {
	text-align: center;
}
.hero-search-btn{
    color: white;
    text-align: center;
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 4px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}
section {
    padding: 20px 0;
}
section h1{
    color: #484848;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}
section .lead{
    color: #919191;
    font-family: Hanken;
    font-weight: 400;
    font-size: 18px;
}
#tours{
    background-color: whitesmoke;
}
@media (min-width: 768px)
.lead {
    font-size: 21px;
}


.img_container {
    text-align: center;
    height:250px;
    border-radius: 5%;
}

.img_container > i{
    position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */

}
.img_container > h3, h2{
    position:relative;
    top: calc(49% - 10px); /* 50% - 3/4 of icon height */
    color: white;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.padding-15{
    padding: 15px;
}
.thumbnail {
    padding: 0;
}
.thumbnail img {
    width: 100%;
}
.thumbnail .caption {
     padding: 0 15px;
}
.caption {
    height: 180px;
    overflow: hidden;
    padding: 0 10px;
}
.caption
    p{
        color: #919191;
    }
.caption
    .price {
        padding: 0 10px;
        color: #3498db;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
            }
 .caption .name {
        padding: 0 10px;
        color: #484848;

            }
.caption 
    .place{
        padding: 0 10px;
        color: #484848;
    }            
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}
.ratings 
    p{
        color: #d17581;
    }
.ratings
    .fa {
    color: #d17581;
}
section
    .single-tour{
        margin-left: inherit;
    }
.view-all-btn {
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14.95px;
    padding: 12px 24px;
    text-align: center;
    transition: 0.1s background-color ease-out;
    -webkit-appearance: none;
}
.callout {
    display: table;
    width: 100%;
    height: 500px;
    color: #fff;
   background: -webkit-linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_577,w_952/v1481794130/hmw698crnhe-clem-onojeghuo_ehnjlj.jpg');
   background: -o-linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_577,w_952/v1481794130/hmw698crnhe-clem-onojeghuo_ehnjlj.jpg');
   background: linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_577,w_952/v1481794130/hmw698crnhe-clem-onojeghuo_ehnjlj.jpg'); background-position: 50%; background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.no-padding-top{
    padding-top: 0;
}
.text-white
{
    color: white;
}
.c2a-btn {
    font-size: 18px;
}
.feature {
    display: table;
    height: 400px;
    border: 2px black;
}
.card
    .title {
        margin-top:0px;
        color: #484848;
    }
    .subtitle {
        font-weight: 300;
        color: #ababab;
    }
.footer {
    background-color: #1B222C;
}
#nav-link-inverse{
    font-size: 15px;
    font-weight: 400;
}
.navbar{
    margin-bottom: 0;
}    
#nav-link{
    color: #919191;
    font-size: 15px;
    font-weight: 400;

}
#nav-link:hover {
    color: #3498db;
}
.no-padding-bottom{
    padding-bottom: 0;
}
.profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url('https://res.cloudinary.com/triptable/image/upload/w_400,h_400,g_face,c_fill,q_auto,f_auto/v1462660313/12244425_10153737963636917_2019038422203593264_o_aov2yu.jpg') 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}
.img-circle{
    border-radius: 50%;
}
/**Mega menu **/
.navbar-nav>li>.dropdown-menu {
  margin-top: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
  width: 200px;
  font-weight: bold;
}

.mega-dropdown {
  position: static !important;
  width: 100%;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}
.navbar-default{
    background-color: transparent;
}
h2.name{
  font-size: 25px;
}
.destination {
    background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .3)) ;
}
i{
  font-style: normal !important;
}
#tour-description{
  padding: 0 10px;
    line-height: 1.6em;
}
.fa-star {
  color: #f1c40f;
}
.fa-star-half {
  color: #f1c40f;
}
.fa-star-half-o{
  color: #f1c40f;
}
.tour-list:focus{
  border: none;
}
:focus {
    outline: transparent;
    outline-color: transparent;
    outline-style: auto;
    outline-width: 0px;
}
span.rate{
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.ion-fireball{
  color: #e74c3c;
}
.ion-pricetags{
  color: #2ecc71;
}
.ion-location{
  color: #2980b9;
}
.price-tag { 
   position: relative; 
   top: 150px; 
   width: 100%; 
}
.price-tag span { 
   color: white; 
   font: bold 20px/45px 'Montserrat', Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 7px; 
}
.rate-tag{
      float: right;
    position: absolute;
    top: 22px;
    right: 15px;
}
.rate-tag span { 
   color: white; 
   font-family: 'Montserrat', Sans-Serif;
   font-size: 14px;
   font-weight: 200;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 7px; 
}
.tour-picture{
  
  
}
.tour-image{
  width: 100%; 
  height: 500px; 
  color: #fff;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-image: url("https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_720,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/pp8zvcf8xt8cz12rpfmf/ExploreSoutheastGilis.jpg");
}
.arrow {
  padding-top: 5px;
  text-align: center;
    width: 50px;
    position: absolute;
    top: 27%;
    color: #3498db;
    z-index: 100;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.9;
}
.arrow:hover{
  opacity: 1;
}
.arrow.right{
  right: 10px;
}
.navbar-brand{
  font-family: 'Lobster', Sans-Serif;
  font-size: 30px;
  color: #3498db !important;
  padding: 15px;
}
.tour-title{
  margin: 0;
  text-align: left;

}
p.tour-info-description {
  color: #484848;
  text-align: justify;
}
h4.tour-info{
  font-family: "Montserrat", Sans-Serif;
}
h4.tour-info.rating{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  
}
i.tour-info-icon{
  text-align: center;
  font-size: 25px;
}
div.tour-info-icon{
  text-align: center;
   font-family: "Montserrat", Sans-Serif;
}
.tour-info-icons >div:first-child{
  margin-left: -4%;
}
.highlight-title{
  font-size: 28px;
  color: #484848;
}
.icons i{
  font-size: 20px;
}
.datepicker-title {
  color: #484848;
  font-size: 20px;
  text-align: center;
  border: 1px solid #484848;
  padding: 10px;
}
